.socialMediaIcon {
  width: 20px;
  border-radius: 50%;
}

.artistImage {
  width: 200px;
  border-radius: 50%;
}

.artistImageDiv {
  text-align: center;
}

.artistMenuLeft {
  padding: 20px;
  width: 250px;
  background-color: #d6fff2;
  font-family: sans-serif;
}

.artistName {
  text-align: center;
  font-size: 25px;
}

li {
  padding-bottom: 15px;
  list-style: none;
}

.socialMediaLink {
  padding-left: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.socialMediaItem {
  display: flex;
  align-items: center;
}

